modules/*
!modules/CMakeLists.txt
!modules/kernel
!modules/helloworld
include/*
!include/jafarConfig.h.in
lib/
tclpkg/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
doc/dependencies.dot
tools/doxygen/Doxyfile
share/jafar.rb
build/
build_debug/
build_release/
boost-sandbox/
doc/html
Makefile
